<!doctype html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>

    {% for id in ids %}
    <h3>{{id}}</h3>
    <div id="{{id}}"></div>
    {% endfor %}

</body>

<script type="text/javascript">

    var graphs = {{ graphJSON | safe}};
    var ids = {{ ids | safe}};

    for (var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
            graphs[i].data,
            graphs[i].layout || {});
    }

</script>

</html>

